/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.key {
    display: inline-block;
    height: 40px;
    border: 1px solid black;
}

.key.active {
    background-color: mediumpurple;
}

.spacer {
    display: inline-block;
    height: 40px;
}

.keyboard-layout-row {
    height: 40px;
}
