<div class='keyboard'>
    <%= for row <- @ui_state do %>
        <%= for key <- row do %>
            <span
                class='key<%= if key.active?, do: " active" %>'
                style='width: <%= key.width %>px; left: <%= key.x %>px; top: <%= key.y %>px'
            ><%= key.symbol %></span>
        <% end %>
    <% end %>
</div>

<%# LAYER HERE %>

<div class='keycodes'>
    <%= for keycode <- @keycodes do %>
        <span class='keycode'><%= symbol(keycode) %></span>
    <% end %>
</div>
